# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# databases
*.db
*.sqlite

# environmental/tmp
.env
.env.production
tmp/

# ide/editor
.idea/
.claude/
.vscode/

# prisma
/src/generated/prisma
# prisma migrations are usually kept, but if you want to ignore them:
# prisma/migrations/
